$animationSpeed: 40s;

// Animation
@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.flexer {
  padding: 10vh 0;
  height: 100vh;
  background: rgb(30, 24, 46);
  background: linear-gradient(
    90deg,
    rgba(30, 24, 46, 1) 42%,
    rgba(23, 30, 55, 1) 77%
  );

  .slider {
    overflow: hidden;
    margin-bottom: 30px;
  }

  .slide-track {
    animation: scroll $animationSpeed linear infinite;
    display: flex;
  }

  .mediaIconsBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    .mediaIconsBoxItem {
      width: 300px !important;
      text-align: center !important;
    }
  }
}
/* style.scss */

.flexer {
  padding: 10vh 0;
  height: 100vh;
}

.wrapper.feedBack {
  overflow: hidden;
}

// .slide-track {
//   display: flex;
//   width: fit-content; /* Genişliği içeriğe göre ayarla */
//   transition: transform 0.5s ease; /* Eğilim efekti ekledik, isteğe bağlı */
// }

.slide {
  width: 250px; /* Kartların genişliği */
  margin-right: 30px; /* İstediğiniz boşluk */
}

.mediaIconsBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.mediaIconsBoxItem {
  margin-top: 10px;
}
