.flexer {
  padding: 10vh 0;
  height: 100vh;
  background: rgb(30, 24, 46);
  background: linear-gradient(
    90deg,
    rgba(30, 24, 46, 1) 42%,
    rgba(23, 30, 55, 1) 77%
  );
  // slider start
  // .Carousel__Container-sc-hyhecw-0 {
  //   width: 95%;
  // }

  // slider end

  .mediaIconsBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;

    .mediaIconsBoxItem {
      width: 300px !important;
      text-align: center !important;
    }
  }
}

// @media only screen and (max-width: 992px) {
//   // .Carousel__Container-sc-hyhecw-0 {
//   //   width: 100%;
//   // }
// }
