$animation-timing: 27s;
$carousel-items: 9;
// $animation-delay-fraction: $animation-timing / $carousel-items;
// $animation-steps-fraction: 100 / $carousel-items;
$slide-change-timing: 3;

body {
  overflow-y: scroll;
  scrollbar-width: thin;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-thumb {
  background-color: transparent;
}

body::-webkit-scrollbar-track {
  background-color: transparent;
}

.aboutBody {
  overflow-y: hidden;
  color: white;
  min-height: 100vh;
  width: 100vw !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center !important;

  .content {
    z-index: 30;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: 20px;
    padding: 30px;
    text-align: left;

    .bigImg {
      border: 5px solid #5df8f5;
      height: 300px;
      width: 300px;
      object-fit: cover;
      border-radius: 10px;
      box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }

    h1 {
      margin-bottom: 20px;
      text-align: center;
    }

    .texts {
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center !important;
      justify-content: center;
    }

    .about {
      display: flex;
      justify-content: center;

      p {
        text-align: center;
        width: 80%;
        margin: 10px;
      }
    }

    .links {
      display: flex;
      justify-content: left;

      a {
        margin: 5px;

        img {
          height: 25px;
          width: 25px;
        }
      }
    }
  }

  @media only screen and (max-width: 1100px) {
    .content {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
    }

    .bigImg {
      height: 250px !important;
      width: 250px !important;
    }

    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      input {
        width: 100%;
      }

      textarea,
      input {
        margin-bottom: 5px;
      }
    }
  }

  @media only screen and (max-width: 600px) {
    .content {
      padding: 15px;
    }

    .texts {
      width: 100%;
      text-align: center;
    }

    .links {
      flex-direction: column;
      align-items: center;
      margin-top: 20px;

      img {
        margin-right: 0;
        margin-bottom: 10px;
      }
    }

    .bigImg {
      height: 100px !important;
      width: 100px !important;
    }
  }
}

body {
  background-color: #1d1e2c;
}

.cardFeed {
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  background-color: #568ea360;
  border: 2px solid #5df8f5;
  cursor: pointer;
  overflow: hidden;
  max-width: clamp(240px, 70vw, 740px);
  min-width: 240px;
  min-height: 200px;
  display: grid;
  place-items: center;
  // height: 100vh;
  padding: 24px;
  font-size: 16px;
  z-index: 20;
  color: white;
  text-align: center;

  h2 {
    font-weight: 400;
  }
}

.cardFeed:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.background {
  flex: 1 1 250px;
}

.background img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 24px;
}

.contentFeed {
  flex: 3 1 350px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 16px;
}

.contentFeed > h2 {
  // font-size: clamp(1.3rem, 2.5vw,
  //     1.8rem);
  font-weight: 700;
  margin-bottom: clamp(0.35rem, 2vw, 0.55rem);
}

.contentFeed > p {
  font-size: clamp(1rem, 1.75vw, 1.1rem);
  font-weight: 400;
  margin: 6px 0;
}

.contentFeed a {
  color: black;
}

.chips {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 12px 0px 16px 0px;
}

.chip {
  border-radius: 12px;
  padding: 10px;
  font-size: 15px;
  background-color: var(--gray);
  transition: all 0.3s;
  font-weight: 500;
}

.chip:hover {
  background-color: var(--primary-violet);
  color: var(--gray);
}

.action-buttons {
  border-top: 1px solid var(--gray);
  padding-top: 16px;
  gap: 12px;
  display: flex;
  // margin-top: auto;
  flex-wrap: wrap;
}

.action-buttons a {
  background-color: var(--primary);
  color: white;
  padding: 12px;
  text-decoration: none;
  border-radius: 12px;
  outline: none;
  border: none;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  flex: 1 0 240px;
  max-width: 100%;
}

.action-buttons a:hover {
  text-decoration: underline;
}

.action-buttons a.secondary {
  background-color: inherit;
  color: var(--primary);
  border: 1px solid var(--primary);
  flex: 1 0 80px;
}

.sendFeed {
  margin-top: 10px;
  border: 2px solid white;
  border-radius: 5px;
  background-color: transparent;
  padding: 10px 15px;
  font-weight: 600;
  color: #1d1e2c;
  background-color: white;
  cursor: pointer;
  transition: 300ms linear;
  margin-bottom: 10px;
}

form .sendFeed {
  margin-bottom: 0 !important;
}

.sendFeed:hover {
  border: 2px solid #5df8f5;
  background-color: #5df8f5;
}

.inpFeed input {
  z-index: 300;
}

.inpFeed {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  margin-top: 10px;

  button {
    border: 2px solid #1d1e2c;
  }

  input,
  textarea {
    padding: 5px 15px;
    border: 1px solid white;
    border-radius: 5px;
    max-height: 40px;
    height: 40px;
    margin: 0 5px;
    color: rgb(110, 110, 110) !important;
  }

  input::placeholder {
    color: rgb(110, 110, 110);
  }

  textarea {
    padding: 10px;
  }

  .sendFeed,
  form {
    margin-top: 0;
  }

  .sender {
    transition: 300ms linear;
  }
}
