.backBtn {
  cursor: pointer;
  padding: 10px 20px;
  background-color: transparent;
  margin-top: 20px;
  margin-left: 20px;
  border-radius: 5px;
  border: 1px solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 16px;
  transition: 300ms linear;
  font-weight: 500;
  position: absolute;
  left: 10;
  top: 10;
  z-index: 900;

  img {
    width: 20px;
    height: 20px;
    filter: brightness(1) invert(1);
    margin-right: 5px;
  }
}

#root {
  width: 100vw;
  height: 100vh;
}

body {
  position: relative;
}