.blog-section {
  width: 100%;
  margin-top: 100px;
  .containerr {
    width: 70%;
    min-height: 100vh;
    margin: 70px auto;
    color: white;

    h1 {
      font-size: 100px;
      // margin: 30px auto;
      text-align: center;
    }

    .front-end {
      border: 3px solid white;
      height: 250px;
      border-radius: 15px;
      margin-bottom: 20px;
      position: relative;
      overflow: hidden;

      &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: url("https://i.pinimg.com/564x/ce/68/78/ce68780185b875e412005e283ea64796.jpg")
          center/cover no-repeat;
        opacity: 0.2;
        z-index: -1;
        border-radius: 15px;
      }
      .card-content {
        margin-top: 5px;
        text-align: left;
        h1 {
          text-align: left;
          color: white;
          font-size: 65px;
        }
      }
    }
    .card-content {
      padding: 20px 30px;
      text-align: right;
      display: flex;
      justify-content: center;
      align-items: center;
      p {
        font-size: 16px;
      }
      transform: scale(1);
      transition: transform 0.3s ease;
    }

    .html,
    .react,
    .css,
    .javascript {
      border: 3px solid white;
      height: 300px;
      border-radius: 15px;
      margin-bottom: 20px;
      display: flex;
      justify-content: space-between;
      transform: scale(1);
      transition: transform 0.4s ease-in-out;
    }

    .javascript {
      position: relative;
      overflow: hidden;

      .card-content {
        h2 {
          color: white;
          font-size: 16px;
          font-weight: 900px;
          margin: 0px;
        }
      }

      &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0.2;
        z-index: -1;
        border-radius: 15px;
      }
    }

    .html {
      position: relative;
      overflow: hidden;
      &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0.4;
        z-index: -1;
        border-radius: 15px;
      }

      P {
        font-size: 16px;
      }
    }

    .react {
      position: relative;
      overflow: hidden;

      .card-content {
        p {
          color: white;
          font-size: 16px;
          font-weight: 700px;
          margin: 0px;
        }
      }

      &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0.2;
        z-index: -1;
        border-radius: 15px;
      }
    }
    .css {
      .card-content {
        h2 {
          color: white;
          font-size: 16px;
          font-weight: 900px;
          margin: 0px;
        }
      }
    }
  }

  .front-end:hover {
    box-shadow: rgb(62, 61, 61) 0px 5px 15px;
  }
  .react:hover {
    box-shadow: rgb(62, 61, 61) 0px 5px 15px;
    padding-left: 0px;
    transform: scale3d(1.05, 1.112, 1);
    transition-timing-function: linear;
    transition-duration: 0.2s;
  }
  .html:hover {
    box-shadow: rgb(62, 61, 61) 0px 5px 15px;
    padding-left: 0px;
    transform: scale3d(1.05, 1.112, 1);
    transition-timing-function: linear;
    transition-duration: 0.2s;
  }
  .css:hover {
    box-shadow: rgb(62, 61, 61) 0px 5px 15px;
    padding-left: 0px;
    transform: scale(1.112);
    transition-timing-function: linear;
    transition-duration: 0.2s;
  }
  .javascript:hover {
    box-shadow: rgb(62, 61, 61) 0px 5px 15px;
    transform: scale(1.112);
    transition-timing-function: linear;
    transition-duration: 0.2s;
  }
}

@media (max-width: 1200px) {
  .blog-section .containerr .row .card-content h1 {
    font-size: 55px;
  }
}

@media (max-width: 992px) {
  .blog-section .containerr .row .card-content h1 {
    font-size: 45px;
  }
  .blog-section .containerr .row {
    gap: 20px;
  }
}

@media (max-width: 768px) {
  .blog-section .containerr .row .card-content h1 {
    font-size: 35px;
    text-align: center;
  }
  .blog-section .containerr .row .card-content h2 {
    font-weight: 450px !important;
  }

  .blog-section .containerr .row {
    gap: 10px;
  }
}

@media (max-width: 576px) {
  .blog-section .containerr .row .card-content h1 {
    font-size: 30px;
  }
}
