@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@900&family=Source+Sans+3:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,500;1,600&display=swap");

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  overflow: hidden;
}

.hero-section {
  background: rgb(30, 24, 46);
  background: linear-gradient(
    90deg,
    rgba(30, 24, 46, 1) 42%,
    rgba(23, 30, 55, 1) 77%
  );
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .socials {
    z-index: 1;
    position: absolute;
    left: 32px;
    top: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    li {
      padding: 0px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      border-radius: 50%;
      margin: 10px 0;
    }

    li::before {
      display: none;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background: #ff3870;
      transition: 0.5s;
      transform: scale(0.9);
      z-index: -1;
    }

    li:hover::before {
      transform: scale(1.1);
      box-shadow: 0 0 15px #ff3870;
    }

    li:hover {
      color: #ff3870;
      box-shadow: 0 0 15px #ff3870;
    }

    svg {
      height: 30px;
      width: 30px;
      transition: 0.5s linear;
    }

    li svg path {
      fill: white;
    }

    li:hover svg path {
      fill: #ff3870;
    }

    // svg:hover {
    //   box-shadow: 0 0 5px #ff3870;
    //   text-shadow: 0 0 5px #ff3870;
    // }
  }

  .content {
    display: flex;
    align-items: center;
    .logoBox {
      height: 100vh;
      width: 50vw;
      display: flex;
      align-items: center;
      .imgBox {
        position: relative;
        width: 450px;
        height: 450px;

        .profile1 {
          height: 400px;
          position: absolute;
          left: 200px;
          height: 400px;
          top: 20px;
          opacity: 1;
          animation: bounceInUp; /* referring directly to the animation's @keyframe declaration */
          animation-duration: 1s; /* don't forget to set a duration! */
          z-index: 2;
          --animate-delay: 2s;
        }

        .arrow1 {
          position: absolute;
          left: 100px;
          height: 130px;
          top: 150px;
          opacity: 1;
          animation: backInLeft; /* referring directly to the animation's @keyframe declaration */
          animation-duration: 1s; /* don't forget to set a duration! */
          z-index: 1;
        }
        .arrow2 {
          position: absolute;
          left: 100px;
          height: 130px;
          top: 273px;
          opacity: 1;
          animation: backInLeft; /* referring directly to the animation's @keyframe declaration */
          animation-duration: 1s;
          z-index: 3;
        }
        .arrow3 {
          position: absolute;
          left: 370px;
          height: 130px;
          top: 229px;
          opacity: 1;
          animation: backInRight; /* referring directly to the animation's @keyframe declaration */
          animation-duration: 1s; /* don't forget to set a duration! */
          z-index: 1;
        }
        .arrow4 {
          position: absolute;
          left: 370px;
          height: 130px;
          top: 353px;
          opacity: 1;
          animation: backInRight; /* referring directly to the animation's @keyframe declaration */
          animation-duration: 1s;
          z-index: 3;
        }
        .slash {
          position: absolute;
          left: 265px;
          top: 30px;
          height: 450px;
          opacity: 1;
          animation: bounceInDown; /* referring directly to the animation's @keyframe declaration */
          animation-duration: 1s;
          z-index: 1;
          // transform: rotate(10deg);
        }
      }
    }
    .textBox {
      height: 100vh;
      width: 50vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 30px;

      h1 {
        color: #5df8f5;
        font-size: 45px;
        font-weight: 350;
        margin-bottom: 25px;
        text-align: left;
        span {
          color: #ff3870;
        }
      }
      .btn {
        width: 200px;
        height: 50px;
        padding: 0px 30px 0px 0px;
        background-color: transparent;
        border: 2px solid white;
        color: white;
        font-size: 20px;
        cursor: pointer;
        display: block;
        margin: 0 auto;
        position: relative;

        .arrow-left {
          margin-left: 10px;
          position: absolute;
          top: calc(50% - 16px / 2);
          transition: transform 0.5s ease;
        }

        &:hover {
          background-color: #ff3870;
          border: none;

          .arrow-left {
            transform: rotate(90deg);
          }
        }
      }
    }
  }
}

@mixin sp-layout {
  @media screen and (max-width: 750px) {
    @content;
  }
}

@function random_range($min, $max) {
  $rand: random();
  $random_range: $min + floor($rand * (($max - $min) + 1));
  @return $random_range;
}

.stars {
  position: absolute;
  top: 0;
  left: 0;
  width: 200vw;
  height: 120%;
  // transform: rotate(-45deg);
  z-index: 1;
}

.star {
  $star-count: 50;
  --star-color: white;
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);

  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px currentColor);
  transform: translate3d(calc(100vw + 30em), 0, 0);
  animation: fall var(--fall-duration) var(--fall-delay) linear infinite,
    tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;

  @include sp-layout {
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
  }

  @for $i from 1 through $star-count {
    &:nth-child(#{$i}) {
      --star-tail-length: #{random_range(500em, 750em) / 100};
      --top-offset: #{random_range(0vh, 10000vh) / 100};
      --fall-duration: #{random_range(6000, 12000s) / 1000};
      --fall-delay: #{random_range(0, 10000s) / 1000};
    }
  }

  &::before,
  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: calc(var(--star-width) / -2);
    width: var(--star-width);
    height: 100%;
    background: linear-gradient(45deg, transparent, currentColor, transparent);
    border-radius: inherit;
    animation: blink 2s linear infinite;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0);
  }
}

@keyframes tail-fade {
  0%,
  50% {
    width: var(--star-tail-length);
    opacity: 1;
  }

  70%,
  80% {
    width: 0;
    opacity: 0.4;
  }

  100% {
    width: 0;
    opacity: 0;
  }
}

@keyframes blink {
  50% {
    opacity: 0.6;
  }
}

.Main2 .hero-section {
  background: rgb(30, 24, 46);
  background: linear-gradient(
    90deg,
    rgba(30, 24, 46, 1) 42%,
    rgba(23, 30, 55, 1) 77%
  );
}

@media screen and (max-width: "992px") {
  .Main2 {
    .hero-section {
      .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        .logoBox {
          height: 50vh;
          width: 100%;
          display: flex;
          justify-content: center;
          .imgBox {
            width: 330px;
            height: 330px;
            position: relative;
            .profile1 {
              left: 70px;
              top: 60px;
              height: 230px;
              // background-color: red;
            }
            .arrow1 {
              left: 20px;
              height: 70px;
              top: 135px;
            }
            .arrow2 {
              left: 20px;
              height: 70px;
              top: 200px;
              opacity: 1;
            }
            .arrow3 {
              left: 180px;
              height: 70px;
              top: 175px;
            }
            .arrow4 {
              left: 180px;
              height: 70px;
              top: 240px;
            }
            .slash {
              left: 120px;
              top: 60px;
              height: 250px;
              width: 90px;
            }
          }
        }
        .textBox {
          padding-left: 0px;
          width: 100%;
          height: 50vh;
          h1 {
            // // padding: 0 30px;
            // // color: #5df8f5;
            font-size: 30px;
            // font-weight: 350;
            margin-top: 30px;
            text-align: center;
            margin-left: 0px;
          }
        }
        .socials {
          display: none;
        }
      }
    }
  }
}

// 872 - 35 , 692 -30 , 600 -25 , 496 - 20 , 414 - 20 , 365 - 15 h1 hero
// buttton:
// media heronun scss indedi
// h1
// @media screen and (max-width: "992px") {
//   .hero-section {
//     .content {
//       .imgBox {
//         width: 300px;
//         height: 300px;
//       }
//       h1 {
//         font-size: 35px !important;
//       }
//     }
//   }
// }

// @media screen and (max-width: "768px") {
//   .hero-section {
//     .content {
//       h1 {
//         font-size: 30px !important;
//       }

//       .btn {
//         width: 180px;
//         height: 45px;
//         font-size: 15px !important;
//       }
//     }
//   }
// }

// idk
// @media screen and (max-width: "480px") {
//   .hero-section {
//     .content {
//       h1 {
//         font-size: 20px !important;
//       }

//       .btn {
//         width: 140px;
//         height: 38px;
//         font-size: 12px !important;
//       }
//     }
//   }
// }

// @media screen and (max-width: "992px") {
//   h1 {
//     font-size: 35px !important;
//   }

//   .Main2 .intro .intro-part .left .intro-content {
//     justify-content: center;
//   }

//   .icons div {
//     width: 75px;
//     height: 75px;

//     svg {
//       width: 75px;
//       height: 75px;
//     }
//   }
// }

// @media screen and (max-width: "768px") {
//   h1 {
//     font-size: 30px !important;
//   }

//   .right p {
//     font-size: 20px !important;
//   }

//   .skills-experience {
//     h2 {
//       font-size: 16px !important;
//     }

//     p {
//       font-size: 16px !important;
//     }
//   }

//   #projects {
//     p,
//     a {
//       font-size: 16px !important;
//     }
//   }

//   .icons div {
//     width: 60px;
//     height: 60px;

//     svg {
//       width: 60px;
//       height: 60px;
//     }
//   }
// }

// @media screen and (max-width: "480px") {
//   h1 {
//     font-size: 20px !important;
//   }

//   .right p {
//     font-size: 16px !important;
//   }

//   .skills-experience {
//     h2 {
//       font-size: 12px !important;
//     }

//     p {
//       font-size: 12px !important;
//     }
//   }

//   #projects {
//     p,
//     a {
//       font-size: 12px !important;
//     }
//   }
// }

// @media screen and (max-width: "501px") {
//   .icons div {
//     width: 35px;
//     height: 35px;

//     svg {
//       width: 35px;
//       height: 35px;
//     }
//   }
// }

// @media screen and (max-width: "367px") {
//   .icons div {
//     width: 25px;
//     height: 25px;

//     svg {
//       width: 25px;
//       height: 25px;
//     }
//   }
// }
