.blog-section {
  width: 100%;
  margin-top: 100px;
}
.blog-section .containerr {
  width: 70%;
  min-height: 100vh;
  margin: 70px auto;
  color: white;
}
.blog-section .containerr h1 {
  font-size: 100px;
  text-align: center;
}
.blog-section .containerr .front-end {
  border: 3px solid white;
  height: 250px;
  border-radius: 15px;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
}
.blog-section .containerr .front-end:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url("https://i.pinimg.com/564x/ce/68/78/ce68780185b875e412005e283ea64796.jpg") center/cover no-repeat;
  opacity: 0.2;
  z-index: -1;
  border-radius: 15px;
}
.blog-section .containerr .front-end .card-content {
  margin-top: 5px;
  text-align: left;
}
.blog-section .containerr .front-end .card-content h1 {
  text-align: left;
  color: white;
  font-size: 65px;
}
.blog-section .containerr .card-content {
  padding: 20px 30px;
  text-align: right;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1);
  transition: transform 0.3s ease;
}
.blog-section .containerr .card-content p {
  font-size: 16px;
}
.blog-section .containerr .html,
.blog-section .containerr .react,
.blog-section .containerr .css,
.blog-section .containerr .javascript {
  border: 3px solid white;
  height: 300px;
  border-radius: 15px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  transform: scale(1);
  transition: transform 0.4s ease-in-out;
}
.blog-section .containerr .javascript {
  position: relative;
  overflow: hidden;
}
.blog-section .containerr .javascript .card-content h2 {
  color: white;
  font-size: 16px;
  font-weight: 900px;
  margin: 0px;
}
.blog-section .containerr .javascript:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.2;
  z-index: -1;
  border-radius: 15px;
}
.blog-section .containerr .html {
  position: relative;
  overflow: hidden;
}
.blog-section .containerr .html:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.4;
  z-index: -1;
  border-radius: 15px;
}
.blog-section .containerr .html P {
  font-size: 16px;
}
.blog-section .containerr .react {
  position: relative;
  overflow: hidden;
}
.blog-section .containerr .react .card-content p {
  color: white;
  font-size: 16px;
  font-weight: 700px;
  margin: 0px;
}
.blog-section .containerr .react:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.2;
  z-index: -1;
  border-radius: 15px;
}
.blog-section .containerr .css .card-content h2 {
  color: white;
  font-size: 16px;
  font-weight: 900px;
  margin: 0px;
}
.blog-section .front-end:hover {
  box-shadow: rgb(62, 61, 61) 0px 5px 15px;
}
.blog-section .react:hover {
  box-shadow: rgb(62, 61, 61) 0px 5px 15px;
  padding-left: 0px;
  transform: scale3d(1.05, 1.112, 1);
  transition-timing-function: linear;
  transition-duration: 0.2s;
}
.blog-section .html:hover {
  box-shadow: rgb(62, 61, 61) 0px 5px 15px;
  padding-left: 0px;
  transform: scale3d(1.05, 1.112, 1);
  transition-timing-function: linear;
  transition-duration: 0.2s;
}
.blog-section .css:hover {
  box-shadow: rgb(62, 61, 61) 0px 5px 15px;
  padding-left: 0px;
  transform: scale(1.112);
  transition-timing-function: linear;
  transition-duration: 0.2s;
}
.blog-section .javascript:hover {
  box-shadow: rgb(62, 61, 61) 0px 5px 15px;
  transform: scale(1.112);
  transition-timing-function: linear;
  transition-duration: 0.2s;
}

@media (max-width: 1200px) {
  .blog-section .containerr .row .card-content h1 {
    font-size: 55px;
  }
}
@media (max-width: 992px) {
  .blog-section .containerr .row .card-content h1 {
    font-size: 45px;
  }
}
@media (max-width: 768px) {
  .blog-section .containerr .row .card-content h1 {
    font-size: 35px;
    text-align: center;
  }
  .blog-section .containerr .row .card-content h2 {
    font-weight: 450px !important;
  }
}
@media (max-width: 576px) {
  .blog-section .containerr .row .card-content h1 {
    font-size: 30px;
  }
}/*# sourceMappingURL=blog.css.map */