@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.45, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.skills-experience {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(30, 24, 46);
  background: linear-gradient(
    90deg,
    rgba(30, 24, 46, 1) 42%,
    rgba(23, 30, 55, 1) 77%
  );

  .container {
    max-width: 80%;
    color: white;
    text-align: center;

    .content {
      margin-bottom: 20px;

      .problem {
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 300;
        color: lightgray;
      }

      .headText {
        margin-bottom: 24px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .skills {
          display: flex;
        }

        .experience {
          display: flex;
        }

        h1 {
          font-size: 60px;
          cursor: pointer;
          margin-bottom: 0px;

          &:hover {
            color: #ff3870;
            animation: rubberBand 1s infinite;
          }
        }

        span {
          margin-left: 15px;
        }
      }

      h4 {
        margin-bottom: 16px;
        font-weight: 450;
      }

      p {
        max-width: 700px;
        font-size: 18px;
        margin: 0 auto;
        line-height: 24px;
        font-weight: 450;
        margin-bottom: 16px;
      }

      .visit-linkedin {
        .toGithub {
          color: #ff3870;
        }

        .toGithub:hover {
          text-decoration: underline;
        }
      }
    }

    .icons {
      padding: 50px 0;
      margin: auto;
      display: flex;
      max-width: 70%;
      gap: 50px;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

      svg {
        margin-bottom: 7px;
      }

      .javascript {
        --animate-duration: 1s;
        animation-delay: 0.1s;
      }

      .react {
        --animate-duration: 1s;
        animation-delay: 0.2s;
      }

      .vue {
        --animate-duration: 1s;
        animation-delay: 0.3s;
      }

      .node {
        --animate-duration: 1s;
        animation-delay: 0.4s;
      }

      .wordpress {
        --animate-duration: 1s;
        animation-delay: 0.5s;
      }

      .sass {
        --animate-duration: 1s;
        animation-delay: 0.6s;
      }

      .css {
        --animate-duration: 1s;
        animation-delay: 0.7s;
      }

      .html {
        --animate-duration: 1s;
        animation-delay: 0.8s;
      }

      .bootstrap {
        --animate-duration: 1s;
        animation-delay: 0.9s;
      }

      .git {
        --animate-duration: 1s;
        animation-delay: 1s;
      }

      .visual-studio {
        --animate-duration: 1s;
        animation-delay: 1.1s;
      }

      .figma {
        --animate-duration: 1s;
        animation-delay: 1.2s;
      }
    }
  }
}

.Main2 {
  .skills-experience {
    width: 100%;
    height: 100%;
  }
}

.Main2 #projects .seeProj,
.Main1 #projects .seeProj {
  margin: 0 auto;
}

.Main2 .skills-experience,
.Main2 #projects,
.Main2 footer {
  padding: 20px 0;
}
.headTextMobile {
  display: none;
}

@media screen and (max-width: 920px) {
  .skills-experience {
    .container {
      max-width: 100%;
      .content {
        .headText {
          display: none;
        }
        .headTextMobile {
          display: block;
          font-size: 30px;
        }
      }

      .icons {
        padding: 0px 5px;
        display: flex;
        max-width: 100%;
        gap: 10px;
        .skilBox {
          img {
            height: "20px";
            margin-bottom: "5px";
          }
          p {
            font-size: 15px;
          }
        }
      }
    }
  }
}
