.login {
    position: fixed;
    z-index: 10;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white !important;
    margin: 0 auto;
    margin-top: 150px;
    width: 45%;
    // border: 3px solid #5df8f5;
    border-radius: 10px;
    padding: 15px;
    padding-top: 40px;
    // background-color: #1D1E2C;
    background-color: rgba(29, 30, 44, 0.8);
    overflow: hidden;

    .loginAdmin {
        font-size: 50px;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;

        padding: 15px;
    }

    h1,
    h2,
    .input {
        margin-bottom: 10px;
    }

    .input {
        padding: 15px 10px;
        border: 1px solid white;
        border-radius: 5px;
        color: white;
        width: 100%;
        background-color: transparent;
    }

    .input::placeholder {
        font-size: 16px;
        color: white;
        font-size: 14px;
        // font-weight: 500;
    }

    .input:focus {
        // color: red;
        color: white;
        border: 1px solid #5df8f5;
        // border: 1px solid #ff3870; on error
        outline: none;
    }

    button {
        margin-top: 10px;
        padding: 12px 25px;
        border: 1px solid #5df8f5;
        border-radius: 5px;
        // color: white;
        font-weight: 500;
        background-color: #5df8f5;
        // width: 60px;
        font-size: 16px;
        cursor: pointer;
    }


}