.Home {
  position: absolute;
  font-size: 32px;
  top: 32px;
  left: 32px;
  display: flex;
  gap: 12px;
  align-items: center;
}

.Home span {
  letter-spacing: 5px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.GithubLink {
  position: absolute;
  font-size: 40px;
  bottom: 32px;
  left: 50px;
}

@font-face {
  font-family: "Druk Wide Web";
  src: url("../../assets/fonts/Druk\ Wide\ Web\ Bold\ Regular.ttf");
}

@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@900&family=Source+Sans+3:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,500;1,600&display=swap");

@media (max-width: 1000px) {
  .GithubLink {
    position: absolute;
    top: 32px;
    left: 90%;
    width: 50px;
    height: 50px;
  }
}

.scrollBtn {
  background: transparent;
  border: none;
  font-size: 20px;
  color: #568ea3;
  transition: transform 1s ease;
}

.scrollBtn span {
  display: inline-block;
  transform: translateX(0);
  transition: transform 0.5s ease;
}

.scrollBtn:hover .scrollBottom {
  display: inline-block;
  transform: translateX(-10px);
  transition: transform 0.5s ease;
}

.scrollBtn:hover .scrollTop {
  display: inline-block;
  transform: translateX(10px);
  transition: transform 0.5s ease;
}

ul {
  color: #568ea3;
}

ul li {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

ul li.active {
  color: #ff3870;
}

.vertical-line {
  height: 50px;
  right: 0;
  border: solid 2px #ff3870;
  position: absolute;
  transition: transform 0.5s ease;
}

.active0 {
  transform: translateY(0);
}
.active1 {
  transform: translateY(50px);
}
.active2 {
  transform: translateY(100px);
}
.active3 {
  transform: translateY(150px);
}
.active4 {
  transform: translateY(200px);
}
.active5 {
  transform: translateY(250px);
}

.swiper-wrapper {
  transition-timing-function: cubic-bezier(0.64, 0.23, 0.29, 0.83) !important;
}

@media screen and (max-width: 1000px) {
  .Main1 {
    display: none;
  }
}
@media screen and (min-width: 1000px) {
  .Main2 {
    display: none;
  }
}

.Main2 footer::before {
  height: 100% !important;
}

.Main1 footer {
  height: 100vh;
}

.mainswiper {
  width: 100vw;
  height: 100vh;
  max-height: 200vh;
}

@media (max-width: 600px) {
  .swiper-wrapper .skillsSlider {
    height: 110vh !important;
  }
}

@keyframes audio-wave {
  0% {
    height: 6px;
    transform: translateY(0px);
    background-color: #ff8e3a;
  }
  25% {
    height: 80px;
    transform: translateY(-5px) scaleY(1.7);
    background-color: #ed509e;
  }
  50% {
    height: 6px;
    transform: translateY(0px);
    background-color: #9c73f8;
  }
  100% {
    height: 6px;
    transform: translateY(0px);
    background-color: #0fccce;
  }
}

.sound-wave {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  width: 120px;
  height: 150px;
}

.sound-wave div {
  height: 100%;
  display: block;
  width: 10px;
  height: 6px;
  border-radius: 8px;
  background: orange;
  animation: audio-wave 2.2s infinite ease-in-out;
}

.sound-wave div:nth-child(1) {
  left: 11px;
  animation-delay: 0.2s;
}
.sound-wave div:nth-child(2) {
  left: 22px;
  animation-delay: 0.4s;
}
.sound-wave div:nth-child(3) {
  left: 33px;
  animation-delay: 0.6s;
}
.sound-wave div:nth-child(4) {
  left: 44px;
  animation-delay: 0.8s;
}
.sound-wave div:nth-child(5) {
  left: 55px;
  animation-delay: 1s;
}

.paginationMy::before {
  content: "";
  filter: blur(1px);
}

.paginationMy {
  li::before {
    filter: blur(1);
  }
}

.socials {
  display: flex;
  // flex-direction: column;
  align-items: center;
  justify-content: center;

  li {
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 50%;
    margin: 10px 0;
  }

  li::before {
    display: none;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #ff3870;
    transition: 0.5s;
    transform: scale(0.9);
    z-index: -1;
  }

  li:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px #ff3870;
  }

  li:hover {
    color: #ff3870;
    box-shadow: 0 0 15px #ff3870;
  }

  svg {
    height: 30px;
    width: 30px;
    transition: 0.5s linear;
  }

  li svg path {
    fill: white;
  }

  li:hover svg path {
    fill: #ff3870;
  }

  // svg:hover {
  //   box-shadow: 0 0 5px #ff3870;
  //   text-shadow: 0 0 5px #ff3870;
  // }
}
