@import url("https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400&display=swap");

.design-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 100px 0;
  font-family: Jost;
}

.design {
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeline {
  width: 80%;
  height: auto;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-top: 0;
  padding-bottom: 0;
}

.timeline-content {
  padding: 20px;
  // background: #1f1f1f;
  // -webkit-box-shadow: 5px 5px 10px #1a1a1a, -5px -5px 10px #242424;
  // box-shadow: 5px 5px 10px #1a1a1a, -5px -5px 10px #242424;
  // border-radius: 5px;
  color: white;
  padding: 1.75rem;
  transition: 0.4s ease;
  overflow-wrap: break-word !important;
  margin: 1rem;
  margin-bottom: 20px;
  border-radius: 6px;
  // border-bottom: 3px solid red;
}

.timeline-component {
  // margin: 0px 20px 20px 20px;
  margin: 0px -15px;
  display: flex;
  align-items: center;

  .textCareer {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .timeline {
    display: grid;
    grid-template-columns: 1fr 3px 1fr;
  }

  .timeline-middle {
    position: relative;
    background-image: linear-gradient(45deg, #f27121, #e94057, #8a2387);
    width: 3px;
    height: 100%;
  }

  .main-middle {
    opacity: 0;
  }

  .timeline-circle {
    position: absolute;
    top: 0;
    left: 50%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-image: linear-gradient(45deg, #f27121, #e94057, #8a2387);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}

@media screen and (max-width: 768px) {
  .timeline {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .timeline-middle {
    display: none;
  }

  .timeline-component {
    padding: 0 10px 0 10px;
  }

  .deadGreen,
  .neonBlue {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
  }

  .deadOrangeBorder,
  .brightOrange {
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
  }

  h3 {
    font-size: 16px;
  }
  .career {
    p {
      font-size: 14px;
    }
  }
}

.lineCardCareer {
  width: 7px;
  height: 100%;
  background-color: #5df8f5;
  margin: 0 10px;
  border-radius: 20px;
}

.neonBlue {
  background-color: #5df8f5;
}

.neonPink {
  background-color: #ff3870;
}

.offBlue {
  background-color: #568ea3;
}

.top {
  background-image: linear-gradient(
    45deg,
    rgba(242, 113, 33, 1),
    rgba(233, 64, 87, 0.7),
    rgba(138, 35, 135, 0.01)
  );
}

.bottom {
  background-image: linear-gradient(
    45deg,
    rgba(242, 113, 33, 0.01),
    rgba(233, 64, 87, 0.7),
    rgba(138, 35, 135, 1)
  );
}

.study {
  text-align: right !important;
}

.career {
  /* Animation */

  @keyframes fadeInUp {
    from {
      transform: translate3d(0, 40px, 0);
    }

    to {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }

  @-webkit-keyframes fadeInUp {
    from {
      transform: translate3d(0, 40px, 0);
    }

    to {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }

  .animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both;
  }

  .animatedFadeInUp {
    opacity: 0;
  }

  .fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
  }

  .one {
    animation-delay: 0s;
  }

  .two {
    animation-delay: 0.2s;
  }

  .three {
    animation-delay: 0.3s;
  }

  .four {
    animation-delay: 0.4s;
  }

  .five {
    animation-delay: 0.5s;
  }

  .six {
    animation-delay: 0.6s;
  }
}

.deadGreen {
  background-color: #bddd4c !important;
}

.deadOrange {
  background-color: #ff9704 !important;
}

.neonBlue {
  background-color: #56c2f3 !important;
}

.brightOrange {
  background-color: #dd3d01 !important;
}

.deadBlue {
  background-color: #458184 !important;
}
